body {
  position: relative;
  display: block;
  height: 3000px;
  min-height: 100%;
  background: linear-gradient(
    180deg,
    rgb(142, 193, 214) 0%,
    rgb(179, 135, 165) 100%
  );
  overflow-x: hidden;
}
