$menu-background: linear-gradient(135deg, #d39cae 0%, rgb(130, 184, 194) 100%);

.slider {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  background: $menu-background;
  overflow-x: hidden;
}
